# Core GUI & Graphing
kivy
kivy-garden
kivy_garden.graph
pygame-ce

# Hardware & Configuration
revpimodio2
PyYAML

# Numerical & Kinematics Analysis
numpy
pandas
matplotlib

# Terminal Debug Tools
hipsterplot

